.card-header{
    background-color: #990000;
    color: white;
    font-weight: 800;
}
#add-train{
    background-color: #021f59;
    color: white;
}
#row1{
    background-color: #021f59;
    color: white;
    font-weight: 800;
    text-align: center;
    padding: 5px;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.card-body{
    border: solid;
}